{{#each erros}}
<div class="container">
<div class="row center"> 
<di class="alert alert-danger col-12">{{texto}}</div>
</div>
</div>
{{else}}

{{/each}}

<div class="container">
<div class="row">
<h1>Crie sua Conta</h1>
<div class="card">
    <div class="card-body">
        <form action="" method="post">
            <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control" required>
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
            <label for="senha">Senha: </label>
                <input type="password" name="senha" class="form-control" required>
            <label for="senha2">Repita a senha: </label>
                <input type="password" name="senha2" class="form-control" required>
            <button type="submit" class="btn btn-success mt-4">Criar Conta</button>
        </form>
    </div>
</div>
</div>
</div>